@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

@import "./common/variables";
@import "./common/extends";
@import "./common/mixins";

html, body{
    height: 100%;
}


body {
    background-color: $bg-col;
	color: $text-col;
	font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: block;
    max-width: 1320px;
    margin: 0 auto;
    .container{
        @include div-row-column(column);
        padding: 0 22px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .header{
            width: 100%;
            margin-top: 30px;
            @include div-row-column(row);
            .nav{
                display: block;
                width: 100px;        
                .nav-list{
                    @include div-row-column(row);
                    column-gap: 3.5%;
                    justify-content: center;
                    .nav__item{
                        margin: 4px;
                        &:hover{
                            color: $link-col;
                        }
                    }
                }
                .link-aka-button{
                    @extend %center-center;        
                    width: 155px;
                    height: 36px;
                    background-color: $main-col;
                    color: $text-col;
                    border-radius: 3px;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 140%;
                }
                .link-aka-button:hover{
                    transform: scale(1.05);
                    background-color: $activ-btn-col;
                }
                .link-aka-button:active{
                    transform: scale(1);
                }
                
            }
        }

        .section{
            flex-grow: 1;
            width: 100%;
            .banner{
                content: '';
                height: 600px;
                position: relative;
                @extend %center-center;
                background: inherit;
                background-image: url("./../../img/unsplash-landing-head.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 50px;
                .banner__subtitle, .banner__title{
                    display: block;
                    font-family: 'El Messiri';
                    font-style: normal;
                    text-align: center;
                    color: #FFFFFF;
                    font-weight: 700;
                }
                .banner__subtitle{
                    position: absolute;
                    top: 140px;
                    font-size: 24px;
                }
                .banner__title{
                    position: relative;
                    width: 440px;
                    font-size: 64px;
                }
                .banner__subtitle::before, 
                .banner__subtitle::after
                {
                    content: '';
                    display: inline-block;
                    position: relative;
                    width: 28px;
                    height: 14px;
                }
                .banner__subtitle::before{
                    background-image: url('./../../img/rectangle-left.svg');
                    left: -66px;
                } 
                .banner__subtitle::after{
                    right: -66px;
                    background-image: url('./../../img/rectangle-right.svg');
                }        
            }
            .seanses{
                @include div-row-column(column);
                .seanses__title{
                    margin-top: 150px;
                    font-family: 'El Messiri';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 42px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 1;
                }
                .seanses__title::before, 
                .seanses__title::after
                {
                    content: '';
                    display: inline-block;
                    position: relative;
                    width: 28px;
                    height: 14px;
                    top: 0px;
                }
                .seanses__title::before{
                    background-image: url('./../../img/rectangle-left-blue.svg');
                    left: -45px;
                } 
                .seanses__title::after{
                    right: -45px;
                    background-image: url('./../../img/rectangle-right-blue.svg');
                }        
                .seanses-block{
                    .seanses-block-item{
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;
                        .seanses-block-img {
                            position: relative;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s ease;
                        }
                        &:hover{
                            .seanses-block-img {
                                transform: scale(1.1) rotate(-0.5deg);
                                transition: all 0.5s ease;
                            }
                            .block-item__cover{
                                opacity: 0;
                                transition: all 0.5s ease;
                            }
                            .block-item__title{
                                transition: all 0.5s ease;
                                color: $activ-text;
                                font-size: 1rem;
                            }
                        }
                        .block-item__cover{
                            position: absolute;
                            background: #018ABE80;
                            width: 100%;
                            height: 100%;
                        }
                        .block-item__title{
                            position: absolute;
                            left: 50px;
                            bottom: 50px;
                            font-family: inherit;
                            font-size: 1.5rem;
                            line-height: 140%;
                            transition: all 0.3s ease;
                        }
                    }
                    margin-top: 100px;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 24px;
                    grid-template-areas: 
                    "agri bgri cgri" 
                    "agri dgri egri";
                }
                .agri{
                    grid-area: agri;
                }
                .bgri{
                    grid-area: bgri;
                }
                .cgri{
                    grid-area: cgri;
                }
                .dgri{
                    grid-area: dgri;
                }
                .egri{
                    grid-area: egri;
                }

                .reviews-block{
                    width: 100%;
                    margin-top: 100px;
                    .owl-carousel{
                        width: 100%;
                        .owl-wrapper-outer{
                            width: 100%;
                            .owl-wrapper{
                                display: flex !important;
                                width: 100% !important;
                                flex-direction: row;
                                background: red;                                
                                .owl-item{
                                    width: auto;
                                }
                            }
                        }
                    }
                }

                .ritmstyle-block{
                    @include div-row-column(column);
                    .ritmstyle-block-item{
                        @include div-row-column(row);
                        margin-top: 100px;
                        column-gap: 24px;
                        .ritmstyle-item-text{
                            display: flex;
                            flex-direction: column;                            
                            width: 50%;
                            margin-right: 5%;
                            .ritmstyle-article__title{
                                font-weight: 700;
                                font-size: 1.5rem;
                                line-height: 140%;
                            }
                            .ritmstyle-article__article{
                                margin-top: 30px;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 140%;
                            }
                        }
                        .ritmstyle-item-img{
                            display: flex;
                            width: 50%;
                            .ritmstyle-item__img{
                                border-radius: 22px;
                                overflow: hidden;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .reverse-block{
                        flex-direction: row-reverse;
                        .ritmstyle-item-text{
                        margin-right: 0;
                        margin-left: 5%;
                        }
                    }
                }

                .cost-block{
                    display: flex;
                    flex-direction: row;
                    column-gap: 10%;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: 100px;
                    .cost-item-data{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-left: 0%;
                        width: 50%;
                        .cost-item__list{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            row-gap: 30px;
                            font-size: 18px;
                            line-height: 140%;
                            .cost-item__item {
                                display: flex;
                                position: relative;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-start;
                                margin-left: 40px;
                                span{
                                    font-weight: 700;
                                }
                                &::before{
                                    content: '';
                                    position: absolute;
                                    background-image: url(./../img/rectangle-left-blue.svg);
                                    width: 18px;
                                    height: 9px;
                                    left: -40px;
                                    top: 12px;
                                }
                                .cost-item__link:hover{
                                    color: $link-col;
                                }
                            }
                        }
                    }
                    .cost-item-img{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 50%;
                        margin-right: 0%;
                        transition: all 0.3s ease;
                        .ritmstyle-item__img{
                            width: 100%;
                            height: 396px;
                            object-fit: cover;
                            border-radius: 22px;
                            overflow: hidden;
                        }
                        .cost-item-img__title{
                            margin-top: 30px;
                            font-weight: 700;
                            font-size: 21px;
                            line-height: 140%;
                            cursor: pointer;
                            &:hover{
                                color: $link-col;
                                transition: all 0.3s ease;
                            }
    
                        }
                    }
                }

                .location-block{
                    margin-top: 150px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    column-gap: 4%;
                    .map{
                        display: flex;
                        width: 66%;
                        background-color: $main-col;
                        height: 604px;
                        border-radius: 10px;
                        iframe{
                            border-radius: 10px;
                        }
                    }
                    .adresses{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 30%;
                        row-gap: 24px;
                        .adress-1{
                            display: flex;
                            background-color: $main-col;
                            flex-direction: column;
                            row-gap: 21px;
                            justify-content: space-between;
                            align-items: flex-start;
                            padding: 35px 45px;
                            border-radius: 10px;
                            .adress{
                                font-family: 'El Messiri';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 140%;
                            }
                            span{
                                display: block;
                                position: relative;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 135%;
                                margin-left: 35px;
                            } 
                            .adress-loc::before{
                                content: '';
                                position: absolute;
                                left: -35px;
                                display: block;
                                background-image: url(./../img/location.svg);
                                width: 13.75px;
                                height: 15.5px;
                            }
                            .adress-metro::before{
                                content: '';
                                position: absolute;
                                left: -38px;
                                display: block;
                                background-image: url(./../img/metro.svg);
                                width: 20px;
                                height: 16px;
                            }
                            .adress-appointment::before{
                                content: '';
                                display: block;
                                position: absolute;
                                left: -38px;
                                background-image: url(./../img/appointment.svg);
                                width: 20px;
                                height: 20px;
                            }
                            .appointment__btn{
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 140%;
                                padding: 9px 15px;
                                margin-top: 9px;
                                color: $bg-col;
                                background-color: #FFFFFF;
                                border-radius: 3px;
                                &:hover{
                                    transform: scale(1.05);
                                    background-color: #00b7ff;
                                }
                                &:active{
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }


            }
        }

        .footer{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            line-height: 135%;
            color: #FFFFFF;
            width: 100%;
            margin-top: 90px;
            margin-bottom: 30px;
            .footer-copyright__link:hover{
                display: inline-block;
                color: $link-col;
                transform: scale(1.02);
                cursor: pointer;
            }
            .info__link:hover{
                display: inline-block;
                color: $link-col;
                transform: scale(1.02);
                cursor: pointer;
            }
        }

        //page_digest
        .section{
            .seanses{
                .digest-block{
                    margin-top: 60px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 14px;
                    .seanses-data{
                        position: absolute;
                        z-index: 1;
                        top: 30px;
                        left: 35px;
                        cursor: pointer;
                    }
                    .seanses-block-item{
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 12px;
                        .seanses-block-img {
                            position: relative;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s ease;
                        }
                        &:hover{
                            .seanses-block-img {
                                transform: scale(1.1) rotate(-0.5deg);
                                transition: all 0.5s ease;
                            }
                            .block-item__cover{
                                opacity: 0;
                                transition: all 0.5s ease;
                            }
                            .block-item__title{
                                transition: all 0.5s ease;
                                color: $activ-text;
                                font-size: 1rem;
                            }
                        }
                        .block-item__cover{
                            position: absolute;
                            background: #018ABE80;
                            width: 100%;
                            height: 100%;
                        }
                        .block-item__title{
                            position: absolute;
                            left: 50px;
                            bottom: 50px;
                            font-family: inherit;
                            font-size: 1.5rem;
                            line-height: 140%;
                            transition: all 0.3s ease;
                        }
                    }

                }
                .seanses-new{                    
                    width: 100%;
                    margin-top: 60px;
                    margin-bottom: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    .seanses-new-info{
                        width: 50%;
                        margin-right: 10%;
                        .seanses-data{
                            cursor: pointer;
                        }
                        .new-info__title{
                            margin-top: 45px;
                            font-family: 'El Messiri';
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 140%;
                        }
                        .new-info__paragraph{
                            margin-top: 30px;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 140%;
                        }

                    }
                    .seanses-new-img{
                        width: 50%;
                        img{
                            border-radius: 10px;
                        }
                    }
                }
                .blog-box{
                    margin-top: 60px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 45px;
                    width: 100%;
                    .blog-new{
                        column-gap: 3.8%;
                        border-radius: 20px;
                        border: 1px solid $main-col;
                        padding: 3.8% 4.6%;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: start;    
                        .blog-info{
                            width: 50%;
                            .seanses-data{
                                cursor: pointer;
                            }
                            .new-info__title{
                                margin-top: 30px;
                                font-family: 'El Messiri';
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 140%;
                            }
                            .new-info__paragraph{
                                margin-top: 20px;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 140%;
                            }
                            button{
                                margin-top: 40px;
                                border: none;
                            }
    
                        }
                        .blog-img{
                            width: 50%;
                            img{
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        
                    }
                }
            }

        } 
        .border-line{
            position: relative;
            border-top: 1px solid #ffffff79;
            padding-top: 30px;
        }
        .border-line-none{
            border-top: none;
        }
    }
}

